body, html {
    margin: 0px;
    height: 100%;
}

.main-foto {
    width: 100%;
    height: 100%;
    background-image: url('./images/header-foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: #fff !important;
    font-weight: 100;
    letter-spacing: 4px;
    flex-direction: column;
    filter: grayscale(50%);
}

.main-foto>span:nth-child(1) {
    font-size: 4em;
    padding: 20px 0px;
}

.main-foto>span:nth-child(2) {
    font-size: 2em;
}

.main-foto>span:nth-child(3) {
    font-weight: 400;
    padding: 15px 0px;
    font-size: 2em;
}

.header {
    width: calc(100% - 32px);
    display: flex;
    position: fixed;
    bottom: 0px;
    padding: 8px 16px;
    background: white;
    opacity: 0.75;
}

.tab-of-header {
    flex: 1;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    
    box-sizing: inherit;
    font-family: "Raleway", sans-serif;
}

.tab-of-header:hover {
    background: lightgray;
}

.tab-of-header:nth-child(4):hover {
    color: white;
    background: black;
}